<!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="../static/css/newuser.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

        <title> List of Reactions</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">List of Reactions</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
                {%  for reactions, reagents in dbreactionList: %}
                        <div class="form-group">
                            <label for="name" class="col-12 col-md-auto control-label">{{ reagents.name }}</label>
                            <div class="row">
                                <div class="col-12">
                                    {{ reactions.id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    Color change number:
                                </div>
                                <div class="col-3">
                                    {{ reactions.reactionint }}
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
