<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask
            SQLAlchemy example</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Users (<a href = "{{ url_for('show_all') }}">Add User
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>Password</th>
               <th>Your name</th>
               <th>Your email</th>
               <th>Your facebook</th>
               <th>Your instagram</th>
               <th>Your chapter</th>
            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.password }}</td>
                  <td>{{ user.name}}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.facebook }}</td>
                  <td>{{ user.instagram }}</td>
                  <td>{{ user.chapter }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>