<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link href="../static/css/bootstrap-colorpicker.css" rel="stylesheet">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="../static/css/newuser.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Create Event</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Create Event</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Event Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter the Event Name"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="year" class="cols-sm-2 control-label">Year</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="year" id="year"  placeholder="Enter the event year: example 2017"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="city" class="cols-sm-2 control-label">City</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="city" id="city"  placeholder="Enter the city"/>
								</div>
							</div>
						</div>

						<div class="form-group">
                            <label for="state" class="cols-sm-2 control-label">State</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="state" id="state"  placeholder="Example CA"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="region" class="cols-sm-2 control-label">Region</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="region" id="region"  placeholder="Enter the region"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="datestart" class="cols-sm-2 control-label">Event Start</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="datetime-local" class="form-control" name="datestart" id="datestart"  placeholder="Enter your start date"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="dateend" class="cols-sm-2 control-label">Event End Date</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="datetime-local" class="form-control" name="dateend" id="dateend"  placeholder="Enter the end date"/>
								</div>
							</div>
						</div>
                        <div id="cp2" class="input-group colorpicker-component">
                            <input type="text" value="#00aabb" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        <script>
                            $(function() {
                            $('#cp2').colorpicker();
                            });
                        </script>
						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Create Event</button>
						</div>
						<div class="login-register">
				            <a href="/add_data">Back to submitting results...</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
        <script src="../static/js/jquery.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.js"></script>

        <script src="../static/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
