<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="../static/css/newuser.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Submit Data</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Submit Data</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Chapter Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <select name="chapterName" class="form-control" id="chapterName">
                                        {% for i in chapterlist: %}
                                            <option id="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                        </select>
								</div>
							</div>
						</div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Event Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <select name="eventName" class="form-control" id="eventName">
                                            {% for i in eventlist: %}
                                                <option id="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Shift Lead</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <select name="shiftLead" class="form-control" id="shiftLead">
                                            {% for i in userlist: %}
                                                <option id="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Tester</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <select name="tester" class="form-control" id="tester">
                                        {% for i in userlist: %}
                                            <option id="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Recorder</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <select name="recorder" class="form-control" id="recorder">
                                        {% for i in userlist: %}
                                            <option id="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
				    	<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Substance Type</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="substanceType" id="substanceType"/>
								</div>
							</div>
						</div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-4 control-label">Reagent Results</label>

                            {%  for eachreagent in reagentlist: %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="{{ eachreagent }}1" id="{{ eachreagent }}1" placeholder="{{ eachreagent }}1"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="{{ eachreagent }}2" id="{{ eachreagent }}2" placeholder="{{ eachreagent }}2"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="{{ eachreagent }}3" id="{{ eachreagent }}3" placeholder="{{ eachreagent }}3"/>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                        <div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit Sample Data</button>
						</div>
						<div class="login-register">
				            <a href="/add_data">Back to submitting results...</a>
				         </div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
