<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" type="text/css" href="../static/css/vuetify.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/materiel.fonts.css">
  <link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
  <div id="app">
    <v-app dark id="DanceSafe">
      <v-layout>
        <v-flex xs12 sm6 offset-sm3>
          <v-navigation-drawer
            clipped
            fixed
            v-model="drawer"
            app
          >
            <v-list dense>
              <v-list-tile @click="">
                <v-list-tile-action>
                  <v-icon>dashboard</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Dashboard</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="">
                <v-list-tile-action>
                  <v-icon>settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Settings</v-list-tile-title>
                 </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-navigation-drawer>
          <v-toolbar app fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Dancesafe Results</v-toolbar-title>
          </v-toolbar>
            <v-content>
              <v-container
                fluid
                style="min-height: 0;"
                grid-list-lg
              >
                <template>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-card>
                        <form>
                          <v-card-text>
                            <v-container fluid>
                              <v-layout row>
                                <v-flex xs4>
                                  <v-subheader class="grey--text text--lighten-1">Please enter a user name:</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                  <v-text-field
                                    name="username"
                                    required
                                    single-line
                                    dark
                                    autocomplete
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                              <v-layout row>
                                <v-flex xs4>
                                  <v-subheader class="grey--text text--lighten-1">Select a password</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                  <v-text-field
                                    prepend-icon="fa-key fa-lg"
                                    name="password"
                                    v-model="password"
                                    min="8"
                                    required
                                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                    :append-icon-cb="() => (e1 = !e1)"
                                    :type="e1 ? 'password' : 'text'"
                                    counter
                                    single-line
                                    dark
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                              <v-layout row>
                                <v-flex xs4>
                                  <v-subheader class="grey--text text--lighten-1">Your email address</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                  <v-text-field
                                    prepend-icon="email"
                                    name="email"
                                    required
                                    single-line
                                    dark
                                    autocomplete
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                              <v-layout row>
                                <v-flex xs4>
                                  <v-subheader class="grey--text text--lighten-1">Facebook</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                  <v-text-field
                                    prepend-icon="fa-facebook-official fa-lg"
                                    name="facebook"
                                    required
                                    single-line
                                    dark
                                    autocomplete
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                              <v-layout row>
                                <v-flex xs4>
                                  <v-subheader class="grey--text text--lighten-1">Instagram</v-subheader>
                                </v-flex>
                                  <v-flex xs8>
                                    <v-text-field
                                      prepend-icon="fa-instagram fa-lg"
                                      name="instagram"
                                      required
                                      single-line
                                      dark
                                      autocomplete
                                    ></v-text-field>
                                  </v-flex>
                              </v-layout>
                              <v-layout row>
                                <v-flex xs4>
                                  <v-subheader class="grey--text text--lighten-1">Chapter</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                  <v-select
                                    label="Select Chapter"
                                    v-bind:items="masterJSON.chapterList"
                                    v-model="e2"
                                    item-value="id"
                                    item-text="name"
                                    return-object
                                    single-line
                                    auto
                                    append-icon="map"
                                    hide-details
                                  >
                                  </v-select>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                          <v-btn @click="submit">submit</v-btn>
                        </form>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </template>
              </v-container>
            </v-content>
        </v-flex>
      </v-layout>
    </v-app>
  </div>
<script src="../static/js/vue.js"></script>
<script src="../static/js/vuetify.js"></script>
<script src="../static/js/axios.js"></script>
        <script>
            new Vue({
                el: '#app',
                $validates: true,
                data () {
                    return {
                        name: '',
                        password: 'Password',
                        e2: null,
                        e1: false,
                        drawer: null,
                        masterJSON: {}
                    }
                },
                methods: {
                    submit: function() {
                        this.$validator.validateAll()
                    },
                    getmasterJSON: function() {
                        this.masterJSON = this.getMasterJSONFromBackend()
                    },
                    getMasterJSONFromBackend: function() {
                        const path = `http://localhost:5050/api/chapterlist`
                        axios.get(path).then(response => {
                          this.masterJSON = response.data
                        }).catch(error => {
                                console.log(error)
                            })
                    }
                },
                created () {
                    this.getmasterJSON()
                },
                props: {
                    source: String
                }
            })
        </script>

	</body>
</html>
