<!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="../static/css/newuser.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

        <title> List of Reagents</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">List of Reagents</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
                {%  for id, name, author, ts, description in dbreagentList: %}
                        <div class="form-group">
                            <div class row>
                                <div class="col-4">
                                    {{ name }}
                                </div>
                                <div class="col-4">
                                    {{ authorName }}
                                </div>
                                <div>
                                    {{ ts }}
                                </div>
                            </div>
                            <div class="row">
                                <label for="description" class="col-12 col-md-auto control-label">{{ description }}</label>
                            </div>
                            <div class="row">
                                <label for="id" class="col-12 col-md-auto control-label">{{ id }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>